* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: antiquewhite;
}
ul{
  list-style-type: none;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.cont{
  background-color: #161616;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sharingon {
  width: 6em;
  height: 6em;
  background-color: red;
  border: 6px solid black;
  animation: rot 1s ease-in-out infinite;
}

.ring {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 3.5em;
  height: 3.5em;
  border: 4px solid rgb(110, 13 ,13 ,0.5);
  transform: translate(-50%,-50%);
}

.sharingon, .ring, .to,.circle {
  border-radius: 50%;
}

.to,.circle {
  position: absolute;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-color: black;
}

.to:nth-child(1) {
  top: -0.5em;
  left: 50%;
  transform: translate(-40%);
}

.to::before {
  content: "";
  position: absolute;
  top: -0.5em;
  right: -0.2em;
  width: 1.1em;
  height: 0.9em;
  box-sizing: border-box;
  border-left: 16px solid black;
  border-radius: 100% 0 0;
}

.to:nth-child(2) {
  bottom: 0.5em;
  left: -0.35em;
  transform: rotate(-120deg);
}

.to:nth-child(3) {
  bottom: 0.5em;
  right: -0.35em;
  transform: rotate(120deg);
}

.circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 20px 1px;
  width: 1em;
  height: 1em;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media screen and (min-width:1240px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
.menu-bar,.close-bar{
  display: none;
}
  #page-1 {
    width: fit-content;
  height: fit-content;
  position: relative;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
 
}
.logo-section img {
  position: absolute;
  top: 18%;
  left: 30px;
  width: 150px;
}

.links-section ul {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  list-style: none;
  position: absolute;
  top: 30px;
  left: 300px;
}

.links-section a {
  text-decoration: none;
  color: snow;
  font-size: 20px;
}

.links-section a:hover {
  color: #e2d702;
  border-bottom: white 2px solid;
}

.sing-up button {
  position: absolute;
  top: -15%;
 right: -73%;
  color: #ecece4;
  background-color: transparent;
  padding: 8px;
  border-radius: 25px;
  width: 120px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  outline: none;
  border: 2px solid #e2d702;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
}
.navbar-section{
  width: 100%;
  height: 80px;
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.sing-up button:hover {
  background-color: #e2d702;
  color: rgb(0, 0, 0);
}


.hero-slider{
  width: 100%;
  height: 100%;
 
  
}


.sliders{
  position: relative;
  width:100%;
  height: 85vh;
display: flex;
  
  gap:100%;
  overflow: hidden; 
}

.slider-content img{
  position: absolute;
  width: 100vw;
  height: 85vh;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  


}

.slider-text{
 color: rgb(255, 253, 253);
 width: 800%;
  text-shadow: 3px 0px 6px rgba(0,0,0,1);
  position: absolute;
  z-index: 88;
  top: 50%;
 
}

.slider-text h1{
  font-size: 35px;
  width: 570px;
 margin-left: 1%;
 
}
.slider-text span{
  font-size: 25px;
  font-weight: 600; 
  margin-left: 1%;
}
.slider-text p{
  font-size: 15px;
  font-weight: 600; 
  margin-left: 1%;
}
.slider-text button{
  border: none;
  outline: none;
  background-color:white;
  color: rgb(0, 0, 0);
padding: 15px 25px;
margin-top: 25px;
text-align: center;
border-radius: 35px;
  font-size: 18px;
  font-weight: 550;
  margin-left: 1%;
 cursor: pointer;
}
.slider-text button:hover{
background-color: black;
color: rgb(255, 255, 255);
transition: 0.2s;
 
}

#scrollUpBtn{
  display: none;
   position: fixed; 
   border-radius: 50%;
   bottom: 20px; 
   right: 30px;
   font-size: 35px;
   padding: 2px 15px;
    z-index: 99;
      border: none;
       outline: none;
        background-color: rgb(20, 20, 20);
         color: #e2d702;
          cursor: pointer;
  }
  
#page-2 {
  background: url(upcoming-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#page-2 .res-icon-down{
  display: none;
}
#page-2 .res-icon-up{
  display: none;
}
.head-page-2 {
  position: relative;
}

.head-page-2 h1 {
  position: absolute;
  top: 90px;
  left: 30px;
  color: #ecece4;
  font-size: 40px;
}

.head-page-2 p {
  position: absolute;
  left: 30px;
  top: 70px;
  font-size: 15px;
  color: #e2d702;
}

.catagoris ul {
  display: flex;
  gap: 25px;
  list-style: none;
  color: #ecece4;
  position: absolute;
  right: 50px;
  top: 85px;
}

#page-2 .catagoris li {
  border: 1px #21232b solid;
  background-color: #21232b;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
}


.hover-item:hover {
  background-color: #e2d702; 
  color: rgb(0, 0, 0); 
}

.top-slider {
  display: flex;
  gap: 25px;
  overflow: hidden;
  width:100%; 
  height: 850px; 
  position: absolute; 
 
      
}

.slider {
  width:100%; 
  transition: transform 0.5s ease;
}

.top-slider{
  display: flex;
  gap: 30px;
}

.top-slider .slider img{
  width: 290px;
  height: 400px;
  position: relative;
  top: 200px;
  left: 25px;
  border-radius: 8px;
  cursor: pointer;
}
.slider{
  position: relative;
}

.slider .content{
  position: absolute;
  left: 50px;
  top: 350px;
}



.slider .content h4{
  color: #ecece4;
  position: absolute;
  bottom: 305px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 20px;
  letter-spacing: 2px;
}

.slider .content p{
  color: #ecece4;
  position: relative;
  top: 250px;
 right: 22px;
  opacity: 0.5;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 10px;
  width: 310px;
  letter-spacing: 2px;
  line-height: 20px;
}
.slider .content button{
  position: relative;
  top: 250px;
  right: 22px;
  opacity: 0.5;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 10px;
  width: 310px;
  letter-spacing: 2px;
  line-height: 20px;
  background-color: #e2d702;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

#right{
  position: absolute;
  right: 3%;
  top: 360px;
  cursor: pointer;
  font-size: 40px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 88;
  color: #000000;
  opacity: 0.8;
  
}
#left{
  position: absolute;
  left: 3%;
  top: 360px;
  cursor: pointer;
  font-size: 40px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 88;
  color: #000000;
  opacity: 0.8;
 
}

#p {
  display: flex;
  gap: 1000px;
  color: #eee;
  position: absolute;
  left: 40px;
  bottom: 240px;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 16px;
}
#p:hover {
  color: #e2d702;
  transition: 0.2s;
}

#page-5{
  position: relative;
  width: 100%;
  height: fit-content;
  background: url(upcoming-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#page-5 h2{
  position: absolute;
  top: 5%;
  left: 2%;
  color: #ecece4;
  font-size: 40px;
}

.page-content ul{
  display: flex;
  gap: 25px;
  overflow: hidden;
  width:100%; 
  height: 850px; 
  position: relative;
  top: 80px;
}
.page-content img{
  width: 290px;
  height: 400px;
  position: relative;
  top: 6%;
  left: 25px;
  border-radius: 8px;
  cursor: pointer;
  
}
.card-content{
  margin-top: 65px;
}


.series-content{
  color: #fffff681;
}
.series-content p{
position: relative;
top: 5px;
left: 26px;
}
.series-content H4{
position: relative;
top: -400px;
left: 26px;
font-size: 25px;
color: #fffff6;
}
.series-content button{
position: relative;
top: 5px;
left: 26px;
padding: 5px;
width: 300px;
border: none;
outline: none;
text-align: center;
background-color: #e2d70294;
font-weight: 700;
font-size: 16px;
cursor: pointer;
}
#right3{
  position: absolute;
  right: 3%;
  top: 340px;
  cursor: pointer;
  font-size: 40px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 88;
  color: #000000;
  opacity: 0.8;
  
}
#left3{
  position: absolute;
  left: 3%;
  top: 340px;
  cursor: pointer;
  font-size: 40px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 88;
  color: #000000;
  opacity: 0.8;
 
}
.extra{
  background: url(upcoming-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: fit-content;
  position: relative;
  width: 100%;
  overflow: hidden;
}


.extra .content{
 display: flex;
 flex-direction: column;
 gap: 30px;
 justify-content: center;
 align-items: center;
}

.extra .content h1{
  color: #ecece4;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.extra .content ul{
  display: flex;
  gap: 35px;
  font-size: 25px;
}

.extra .content li{
  border: 1px #161616 solid;
  width: 120px;
  color: snow;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;
}
.extra .content  li:hover{
  background-color: #e2d702; 
  color: rgb(0, 0, 0);
}

.extra .content a{
  color: #eee;
}
.extra .content a:hover{
  color: black;
}

.image-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

 
}
.selection img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  padding-top: 10px;
  padding-right: 15px;
  object-fit: cover;
  object-position: center;
}

.selection .swiperdown{
  position: absolute;
  left: 25px;
  top: 350px;
  color: #fffff6;
  width: 55px;
height: 55px;
 z-index: 7;
 opacity: 0.6;
}
.selection .swiperup{
  opacity: 0.6;
  position: absolute;
  right: 30px;
  top: 350px;
  color: #ecece4;

 z-index: 7;
}


.finial {
  background: url(service-bg.jpg);
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.content-finial {
  background: url(cta-bg.jpg);
  height: 160px;
  background-position: center;
}

.content-finial .text {
  position: absolute;
  left: 100px;
  top: 30px;
  font-size: 20px;
}

.text p {
  position: absolute;
  left: 15px;
  width: 650px;
}

.content-finial .email {
  padding: 20px 32px;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
  width: 550px;
  position: absolute;
  right: 35px;
  top: 35px;
  box-shadow: #1f1e24;
}

.content-finial button {
  background: #21232b;
  position: absolute;
  right: 39px;
  top: 37px;
  color: #e2d702;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid hsl(207, 19%, 11%);
  padding: 15px 34px;
  border-radius: 4px;
  margin-inline: auto;
  transition: 0.2s;
  cursor: pointer;
}

.content-finial button:hover {
  background-color: #e2d702;
  color: #21232b;
}

.finial-links ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 45px;
  font-size: 16px;
  margin-top: 180px;
  margin-right: 45px;
}

.finial-links li a {
  text-decoration: none;
  color: #b3b3b3;
}
.finial-links li a:hover {
  color: #e2d702;
  transition: 0.2s;
}
.finial-logo img {
  width: 220px;
  position: absolute;
  top: 325px;
  margin-left: 25px;
}
.divider {
  height: 6px;
  margin-block: 40px;
  border-top: 1px solid hsl(225, 25%, 9%);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.help ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.help li a {
  text-decoration: none;
  color: #b3b3b3;
  margin-left: 25px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.help li a:hover {
  color: #e2d702;
  transition: 0.2s;
}

.finial-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  color: hsl(0, 0%, 74%);
  font-size: 24px;
  margin-right: 25px;
  cursor: pointer;
}
.finial-icons i {
  position: relative;
  bottom: 25px;
}
.last-item {
  display: flex;
  justify-content: center;

  padding-top: 35px;
  color: #b3b3b3;
}

.last-item p {
  position: relative;
  top: 20px;
}

.last-item i {
  position: relative;
  top: 22px;
  right: 5px;
}
.last-item span {
  color: #e2d702;
}


}


@media screen and (min-width:768px) and (max-width:1200px) {
  
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

  #page-1{
    position: relative;
    width: 100%;
    height: fit-content;
   }

   .logo-section img {
    position: absolute;
    top: 18%;
    left: 1%;
    width: 150px;
  }
  .navbar-section{
    width: 100%;
    height: 80px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
  }
  
  .menu-bar{
    position: absolute;
    top: 15px;
    right: 7%;
    font-size: 35px;
    z-index: 7777;
  }
  .close-bar{
    position: absolute;
    top: 15px;
    right: 7%;
    font-size: 25px;
    display: none;
    z-index: 7777;
  }
  .links-section{
    position: absolute;
    right: 0;
    top: 0;
    height: fit-content;
    width: 30%;
    display: none;
    z-index: 5;
    
  }
  .links-section ul{
    align-items: center;
    justify-content: center;
    display: flex;
  padding-left: 15%;
    flex-direction: column;
    font-size: 25px;
    gap: 55px;
    padding-top:55px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.548);
  }
  .links-section li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18%;
    padding: 10px 0;
    margin-top: 15px;
  }
 
  .links-section ul li:hover{
    
   text-decoration: 5px underline rgb(223, 223, 34) solid;
   text-underline-offset: 5px;
  }

  .sing-up{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  .sing-up button{
  color: #eee;
     border: none;
     outline: none;
     background-color: transparent;
     width: 67%;
     font-size: 25px;
     position: absolute;
     left: 15%;
    margin-bottom: 40px;
     z-index: 88555;
  }
  .sing-up button:hover{
    background-color:black ;
    color: #e2d702;
    transition: 0.4s;
  }

  #scrollUpBtn{
    display: none;
    position: fixed; 
    border-radius: 50%;
    bottom: 20px; 
    right: 30px;
    font-size: 35px;
    padding: 2px 15px;
     z-index: 99;
       border: none;
        outline: none;
         background-color: rgb(20, 20, 20);
          color: #e2d702;
           cursor: pointer;
    }

    .hero-slider{
      width: 100%;
      height: 100%;
      position: relative;
    }
  
    .sliders{
      position: relative;
      width: 100%;
      height: 85vh;
      
      
     
    }
    
    .slider-content img{
      position: absolute;
      width: 120%;
      height: 120%;
      object-fit: cover;
      object-position: top;
      z-index: -1;
      margin-left: -1%;
  
    
    }
    .slider-text{
     color: rgb(255, 253, 253);
     width: 800%;
      text-shadow: 3px 0px 6px rgba(0,0,0,1);
      padding-top: 450px;
      padding-left: 15px;
      z-index: 88;
     
    }
    
    .slider-text h1{
      font-size: 85px;
      width: 570px;
    
    }
  
    .slider-text span{
      font-size: 45px;
      font-weight: 600; 
      word-spacing: 45px;
    }
    .slider-text p{
      position: absolute;
      font-size: 25px;
      font-weight: 600; 
      width: 100%;
    }
    .slider-text button{
      border: none;
      outline: none;
      background-color:white;
      color: rgb(0, 0, 0);
    padding: 15px 25px;
    margin-top: 95px;
    text-align: center;
    border-radius: 25px;
      font-size: 38px;
      font-weight: 550;
     cursor: pointer;
    }
    .slider-text button:hover{
    background-color: black;
    color: #e2d702;
    transition: 0.2s;
     
    }


    #page-2 {
      background: url(upcoming-bg.png) no-repeat;
      background-size: cover;
      background-position: center;
      height: 80vh;
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    #page-2 .res-icon-down{
      display: none;
    }
    #page-2 .res-icon-up{
      display: none;
    }
    .head-page-2 {
      position: relative;
    }
    
    .head-page-2 h1 {
      position: absolute;
      top: 90px;
      left: 30px;
      color: #ecece4;
      font-size: 40px;
    }
    
    .head-page-2 p {
      position: absolute;
      left: 30px;
      top: 70px;
      font-size: 15px;
      color: #e2d702;
    }
    
    .catagoris ul {
      display: flex;
      gap: 25px;
      list-style: none;
      color: #ecece4;
      position: absolute;
      right: 50px;
      top: 85px;
    }
    
    #page-2 .catagoris li {
      border: 1px #21232b solid;
      background-color: #21232b;
      width: 100px;
      text-align: center;
      padding: 10px;
      border-radius: 25px;
      transition: 0.2s;
      cursor: pointer;
    }
    
    
    .hover-item:hover {
      background-color: #e2d702; 
      color: rgb(0, 0, 0); 
    }
    
    .top-slider {
      display: flex;
      gap: 25px;
      overflow: hidden;
      width:100%; 
      height: 850px; 
      position: absolute; 
     top: 5%;
          
    }
    
    .slider {
      width:100%; 
      transition: transform 0.5s ease;
    }
    
    .top-slider{
      display: flex;
      gap: 30px;
    }
    
    .top-slider .slider img{
      width: 290px;
      height: 400px;
      position: relative;
      top: 200px;
      left: 25px;
      border-radius: 8px;
      cursor: pointer;
    }
    .slider{
      position: relative;
    }
    
    .slider .content{
      position: absolute;
      left: 50px;
      top: 350px;
      
    }
    
    
    
    .slider .content h4{
      color: #ecece4;
      position: absolute;
      bottom: 305px;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 20px;
      letter-spacing: 2px;
    }
    
    .slider .content p{
      color: #ecece4;
      position: relative;
      top: 250px;
     right: 22px;
      opacity: 0.5;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 10px;
      width: 310px;
      letter-spacing: 2px;
      line-height: 20px;
    }
    .slider .content button{
      position: relative;
      top: 250px;
      right: 22px;
      opacity: 0.5;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 10px;
      width: 310px;
      letter-spacing: 2px;
      line-height: 20px;
      background-color: #e2d702;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
    }
    
    #right{
      position: absolute;
      right: 3%;
      top: 50%;
      cursor: pointer;
      font-size: 40px;
      background-color: white;
      padding: 5px 10px;
      border-radius: 50%;
      border: none;
      outline: none;
      z-index: 88;
      color: #000000;
      opacity: 0.8;
      
    }
    #left{
      position: absolute;
      left: 3%;
      top: 50%;
      cursor: pointer;
      font-size: 40px;
      background-color: white;
      padding: 5px 10px;
      border-radius: 50%;
      border: none;
      outline: none;
      z-index: 88;
      color: #000000;
      opacity: 0.8;
     
    }
    
    #p {
      display: flex;
      gap: 1000px;
      color: #eee;
      position: absolute;
      left: 40px;
      bottom: 240px;
      font-size: 20px;
      text-transform: uppercase;
      font-size: 16px;
    }
    #p:hover {
      color: #e2d702;
      transition: 0.2s;
    }

    #page-5{
      position: relative;
      width: 100%;
      height: fit-content;
      background: url(upcoming-bg.png) no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
    #page-5 h2{
      position: absolute;
      top: 5%;
      left: 2%;
      color: #ecece4;
      font-size: 40px;
    }
    
    .page-content ul{
      display: flex;
      gap: 25px;
      overflow: hidden;
      width:100%; 
      height: 850px; 
      position: relative;
      top: 80px;
    }
    .page-content img{
      width: 290px;
      height: 400px;
      position: relative;
      top: 6%;
      left: 25px;
      border-radius: 8px;
      cursor: pointer;
      
    }
    .card-content{
      margin-top: 65px;
    }
    
    .series-content{
      color: #fffff681;
    }
    .series-content p{
    position: relative;
    top: 5px;
    left: 26px;
    }
    .series-content H4{
    position: relative;
    top: -400px;
    left: 26px;
    font-size: 25px;
    color: #fffff6;
    }
    .series-content button{
    position: relative;
    top: 5px;
    left: 26px;
    padding: 5px;
    width: 300px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #e2d70294;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    }
    #right3{
      position: absolute;
      right: 3%;
      top: 340px;
      cursor: pointer;
      font-size: 40px;
      background-color: white;
      padding: 5px 10px;
      border-radius: 50%;
      border: none;
      outline: none;
      z-index: 88;
      color: #000000;
      opacity: 0.8;
      
    }
    #left3{
      position: absolute;
      left: 3%;
      top: 340px;
      cursor: pointer;
      font-size: 40px;
      background-color: white;
      padding: 5px 10px;
      border-radius: 50%;
      border: none;
      outline: none;
      z-index: 88;
      color: #000000;
      opacity: 0.8;
     
    }
    .extra{
      background: url(upcoming-bg.png) no-repeat;
      background-size: cover;
      background-position: center;
      height: fit-content;
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    
    
    .extra .content{
     display: flex;
     flex-direction: column;
     gap: 30px;
     justify-content: center;
     align-items: center;
    }
    
    .extra .content h1{
      color: #ecece4;
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
    }
    
    .extra .content ul{
      display: flex;
      gap: 35px;
      font-size: 25px;
    }
    
    .extra .content li{
      border: 1px #161616 solid;
      width: 120px;
      color: snow;
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      transition: 0.2s;
      cursor: pointer;
      text-transform: uppercase;
    }
    .extra .content  li:hover{
      background-color: #e2d702; 
      color: rgb(0, 0, 0);
    }
    
    .extra .content a{
      color: #eee;
    }
    .extra .content a:hover{
      color: black;
    }
    
    .image-container{
      position: relative;
      display: flex;
      flex-flow: row wrap;
      gap: 0px;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
   
      
    }
    .selection img{
      width: 150px;
      height: 250px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
      padding-top: 10px;
      padding-right: 15px;
      object-fit: cover;
      object-position: center;
    }
    
    .finial {
      background: url(service-bg.jpg);
      height: fit-content;
      position: relative;
      overflow: hidden;
    }
    
    .content-finial {
      background: url(cta-bg.jpg);
      height: 160px;
      background-position: center;
    }
    
    .content-finial .text {
      position: absolute;
      left: 3%;
      top: 30px;
      font-size: 15px;
      width: 50%;
    }
    
    .text p {
      position: absolute;
      left: 15px;
      width: 650px;
    }
    
    .content-finial .email {
      padding: 20px 32px;
      border: none;
      outline: none;
      border-radius: 4px;
      box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
      width: 50%;
      position: absolute;
      right: 3%;
      top: 35px;
      box-shadow: #1f1e24;
    }
    
    .content-finial button {
      background: #21232b;
      position: absolute;
      right: 3%;
      top: 37px;
      color: #e2d702;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 2px solid hsl(207, 19%, 11%);
      padding: 15px 34px;
      border-radius: 4px;
      margin-inline: auto;
      transition: 0.2s;
      cursor: pointer;
    }
    
    .content-finial button:hover {
      background-color: #e2d702;
      color: #21232b;
    }
    
    .finial-links ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10%;
      
      font-size: 16px;
      margin-top: 180px;
      margin-right: 45px;
    }
    
    .finial-links li a {
      text-decoration: none;
      color: #b3b3b3;
    }
    .finial-links li a:hover {
      color: #e2d702;
      transition: 0.2s;
    }
    .finial-logo img {
      width: 220px;
      position: absolute;
      top:40%;
      margin-left: 25px;
    }
    .divider {
      height: 6px;
      margin-block: 40px;
      border-top: 1px solid hsl(225, 25%, 9%);
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    }
    
    .help ul {
      display: flex;
      gap: 25px;
      list-style: none;
    }
    
    .help li a {
      text-decoration: none;
      color: #b3b3b3;
      margin-left: 25px;
      font-size: 14px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    
    .help li a:hover {
      color: #e2d702;
      transition: 0.2s;
    }
    
    .finial-icons {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      color: hsl(0, 0%, 74%);
      font-size: 24px;
      margin-right: 25px;
      cursor: pointer;
    }
    .finial-icons i {
      position: relative;
      bottom: 25px;
    }
    .last-item {
      display: flex;
      justify-content: center;
    
      padding-top: 35px;
      color: #b3b3b3;
    }
    
    .last-item p {
      position: relative;
      top: 20px;
    }
    
    .last-item i {
      position: relative;
      top: 22px;
      right: 5px;
    }
    .last-item span {
      color: #e2d702;
    }
    
}
@media screen and (max-width:678px) {
  *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  }

  
  #page-1{
   position: relative;
   width: 100%;
   height: fit-content;
   
  }
  .navbar-section{
    width: 100%;
    height: 80px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: relative;
  }
  .menu-bar{
    position: absolute;
    top: 25px;
    right: 5%;
    font-size: 25px;
    z-index: 7777;
  }
  .close-bar{
    position: absolute;
    top: 25px;;
    right: 5%;
    font-size: 25px;
    z-index: 8;
    display: none;
    z-index: 7777;
  }
  .links-section{
    position: absolute;
    right: 0;
    top: 0;
    
    height: 100%;
    width: 50%;
    
    display: none;
    z-index: 5;
    
  }
  .links-section ul{
    align-items: flex-start;
    justify-content: center;
    display: flex;
  padding-left: 15%;
    flex-direction: column;
    font-size: 25px;
    gap: 55px;
    padding-top:55px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.548);
  }
  .links-section li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18%;
    padding: 10px 0;
  }
 
  .links-section ul li:hover{
    
   text-decoration: 5px underline rgb(223, 223, 34) solid;
   text-underline-offset: 5px;
  }

  #page-1 .logo-section img{
    position: absolute;
   bottom: 10px;
    left: 1%;
    width: 140px;
    height: 60px;
  }
  .sing-up{
    display: flex;
    justify-content: center;
    
    z-index: 4;
  }
  .sing-up button{
  
     padding: 10px 15px;
     border: none;
     outline: none;
    
     border-radius: 5%;
     background-color: rgba(255, 255, 255, 0.548);
     width: 67%;
     font-size: 25px;
     position: absolute;
     left: 15%;
     top: 720%;
     z-index: 555;
  }
  .sing-up button:hover{
    background-color:black ;
    color: #e2d702;
    transition: 0.4s;
  }

  

#scrollUpBtn{
  display: none;
  position: fixed; 
  border-radius: 50%;
  bottom: 20px; 
  right: 30px;
  font-size: 35px;
  padding: 2px 15px;
   z-index: 99;
     border: none;
      outline: none;
       background-color: rgb(20, 20, 20);
        color: #e2d702;
         cursor: pointer;
  }

  .hero-slider{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .sliders{
    position: relative;
    width: 100%;
    height: 85vh;
    
    
   
  }
  
  .slider-content img{
    position: absolute;
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
    margin-left: -1%;

  
  }
  .slider-text{
   color: rgb(255, 253, 253);
   width: 800%;
    text-shadow: 3px 0px 6px rgba(0,0,0,1);
    padding-top: 250px;
    padding-left: 15px;
    z-index: 88;
  }
  
  .slider-text h1{
    font-size: 35px;
    width: 570px;
   
  }
  .slider-text span{
    font-size: 25px;
    font-weight: 600; 
  }
  .slider-text p{
    font-size: 15px;
    font-weight: 600; 
    width: 250px;
  }
  .slider-text button{
    border: none;
    outline: none;
    background-color:white;
    color: rgb(0, 0, 0);
  padding: 15px 25px;
  margin-top: 25px;
  text-align: center;
  border-radius: 35px;
    font-size: 18px;
    font-weight: 550;
   cursor: pointer;
  }
  .slider-text button:hover{
  background-color: black;
  color: #e2d702;
  transition: 0.2s;
   
  }
  
#page-2{
  background:url(upcoming-bg.png) no-repeat ;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: fit-content;
  overflow: hidden;
}

#right{
  display: none;
}
#left{
  display: none;
}
#page-2 p{
  font-size: 200%;
  color: #e2d702;
  padding-top: 15%;
  padding-left: 60px;
  text-transform: uppercase;
}
#page-2 h1{
  font-size: 150%;
  color: snow;
  padding-left: 100px;
  text-transform: uppercase;
}
.head-page-2{
  position: absolute;
  top:-40px;
}



#page-2 .top-slider{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-items: center;
  width: 100%;
  padding-top: 75px;
  padding-left: 8%;
  gap: 5px;
}
.top-slider img{
  width: 80%;
  padding-top: 10%;
  object-fit: cover;
  object-position: top;
  
}

#page-2 .res-icon-up{
  position: absolute;
  right: 2%;
  top:50%;
  font-size: 25px;
}
#page-2 .res-icon-down{
  position: absolute;
  
  top:50%;
  font-size: 25px;
}
#page-2 .content{
  display: none;
  }
  #page-2 img:hover {
    transform: scale(1.1);
    transition: 0.5s;
     

    }
  
#page-2 .swiperight{
  display: none;
}
#page-2 .swiperight2{
  display: none;
}

.extra {
  background:url(upcoming-bg.png) no-repeat ;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: fit-content;
  overflow: hidden;
}
.image-container{ 
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-items: center;
  width: 100%;
  padding-top:25px;
  padding-left: 8%;
  gap: 5px;}
  .image-container img{
    width: 80%;
    padding-top: 10%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
  }
#extra .content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

#extra .content h1{
  color: #ecece4;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
#extra .content ul{
  display: flex;
  gap: 10px;
  font-size:20px;
}
.extra .content li{
  border: 1px #161616 solid;
  width: 120px;
  color: snow;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;
}
.extra .content  li:hover{
  background-color: #e2d702; 
  color: rgb(0, 0, 0);
}
.extra .content a:hover{
  color: black;
}
.selection {
  overflow: hidden;
}

#page-5{
  background: url(upcoming-bg.png);
  position: relative;
  width: 100%;
  background-position: center;
  height: fit-content;
  overflow: hidden;
}
#page-5 h2{
  position: absolute;
  top: 1%;
  left: 3%;
  color: #ecece4;
  font-size: 25px;
  text-transform: uppercase;
}
.series-card{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-items: center;
  width: 100%;
  padding-top: 70px;
  padding-left: 8%;
  gap: 5px;
}

.series-card img{  width: 80%;
  padding-top: 10%;
  object-fit: cover;
  object-position: top;}
  .series-content{
    display: none;
  }
.finial{
  background: url(tv-series-bg.jpg);
  position: relative;
  width: 100%;
  background-position: center;
  height: 100%;
  overflow: hidden;
}
#right3,#left3{
  display: none;
}

.finial .content-finial{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  flex-flow: column wrap;
   color: black;
   padding: 2% 1%;
   width: 101%;
   background-color: #e2d702;
}

.finial .content-finial h1{
  text-align: center;
}
.finial p{
  text-align: center;

}
.content-finial .email  {
 
display: flex;
  justify-content: center;
  padding: 5%;
  max-width:350px;
  min-width: 340px;
  position: relative;
  
  
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
  
 
}
.content-finial form{
  position: relative;
}


.content-finial button {
  background: #21232b;
  position: absolute;
  right: 1%;
  top:4%;
  color: #e2d702;
  width: 40%;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid hsl(207, 19%, 11%);
  padding: 2% 1%;
  border-radius: 4px;
  margin-inline: auto;
  transition: 0.2s;
  height: 90%;
  cursor: pointer;
 
}

.content-finial button:hover {
  background-color: #e2d702;
  color: #21232b;
}

.finial-links ul{
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding-top: 10px;
}

.finial-links ul li:hover{
  transition: 0.4s;
  opacity: 0.8;
}

}